.searchBox{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);

    >input[type="text"]{
        background-color: rgba(255, 255, 255, 0.918);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
        border: none;
        color: rgba(0, 0, 0, 0.459);
        padding: 1vmax 2vmax;
        width: 50%;
        outline: none;
        border-radius: 10px;
        font: 300 1.1vmax cursive;
        box-sizing: border-box;
        height: 8%;
    }
    >input[type="submit"]{
        height: 8%;
        border-radius: 0;
        background-color: tomato;
        border: none;
        padding: 1vmax;
        width: 10%;
        font: 300 1.1vmax cursive;
        color: white;   
        transition: all .5s;
    }
    >input[type="submit"]:hover{
        background-color: rgb(55, 97, 214);
    }
}